body {
  background-color: #f5f5fa;
  font-family: "Clash Grotesk";
}

.logo-container,
.input-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container img {
  margin-top: 5.813rem;
  width: 4rem;
  height: 4rem;
}

.logo-container h1 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.input-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.813rem;
  /* margin-left: 2.063rem; */
  /* margin-right: 2.063rem; */
  /* max-width: 15.875rem; */
}

.input-fields label {
  font-size: 0.625rem;
  font-weight: 400rem;
}

.input-bottom {
  margin-bottom: 1.125rem;
}

.input-fields input {
  width: 21.188rem;
  height: 3.125rem;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebebf0;
  font-size: 0.75rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.input-btns {
  margin-top: 2.5rem;
}

.input-btns button {
  border-style: none;
  border-radius: 0.938rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  width: 21.188rem;
  height: 2.344rem;
  background-color: #235c1e;
  color: white;
}

.input-btns a {
  font-size: 0.688rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
